<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"  http-equiv="encoding">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>D3.js</title>
		<link rel="shortcut icon" href="#">
        <script src="https://d3js.org/d3.v6.js"></script>
		<script src="/static/js/d3_2.js"></script>
    </head>

    <body>
		<div id="d3-container"></div>

		<style>

		.node {stroke: #fff; stroke-width: 1.5px;}
		.link {stroke: #999; stroke-opacity: .6;}

		< /style>
    </body>
</html>